<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
  <dict>
    <key>file</key>
    <string>qznn_roomtype.png</string>
    <key>frames</key>
    <dict>
      <key>qznn_advanced</key>
      <dict>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>134</integer>
        <key>w</key>
        <integer>171</integer>
        <key>h</key>
        <integer>64</integer>
        <key>offX</key>
        <integer>0</integer>
        <key>offY</key>
        <integer>0</integer>
        <key>sourceW</key>
        <integer>171</integer>
        <key>sourceH</key>
        <integer>64</integer>
      </dict>
      <key>qznn_beginner</key>
      <dict>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>68</integer>
        <key>w</key>
        <integer>165</integer>
        <key>h</key>
        <integer>64</integer>
        <key>offX</key>
        <integer>0</integer>
        <key>offY</key>
        <integer>0</integer>
        <key>sourceW</key>
        <integer>165</integer>
        <key>sourceH</key>
        <integer>64</integer>
      </dict>
      <key>qznn_fresh</key>
      <dict>
        <key>x</key>
        <integer>171</integer>
        <key>y</key>
        <integer>67</integer>
        <key>w</key>
        <integer>171</integer>
        <key>h</key>
        <integer>65</integer>
        <key>offX</key>
        <integer>0</integer>
        <key>offY</key>
        <integer>0</integer>
        <key>sourceW</key>
        <integer>171</integer>
        <key>sourceH</key>
        <integer>65</integer>
      </dict>
      <key>qznn_intermediate</key>
      <dict>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>0</integer>
        <key>w</key>
        <integer>169</integer>
        <key>h</key>
        <integer>66</integer>
        <key>offX</key>
        <integer>0</integer>
        <key>offY</key>
        <integer>0</integer>
        <key>sourceW</key>
        <integer>169</integer>
        <key>sourceH</key>
        <integer>66</integer>
      </dict>
      <key>qznn_master</key>
      <dict>
        <key>x</key>
        <integer>171</integer>
        <key>y</key>
        <integer>0</integer>
        <key>w</key>
        <integer>171</integer>
        <key>h</key>
        <integer>65</integer>
        <key>offX</key>
        <integer>0</integer>
        <key>offY</key>
        <integer>0</integer>
        <key>sourceW</key>
        <integer>171</integer>
        <key>sourceH</key>
        <integer>65</integer>
      </dict>
      <key>qznn_superior</key>
      <dict>
        <key>x</key>
        <integer>173</integer>
        <key>y</key>
        <integer>134</integer>
        <key>w</key>
        <integer>165</integer>
        <key>h</key>
        <integer>63</integer>
        <key>offX</key>
        <integer>0</integer>
        <key>offY</key>
        <integer>0</integer>
        <key>sourceW</key>
        <integer>165</integer>
        <key>sourceH</key>
        <integer>63</integer>
      </dict>
    </dict>
  </dict>
</plist>
