<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainhall_effect_lvnotic_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{1024,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,120}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
            <key>mainhall_effect_lvnotic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{1024,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,120}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
            <key>mainhall_effect_lvnotic_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{1024,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,120}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
            <key>mainhall_effect_lvnotic_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2},{1024,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,120}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
            <key>mainhall_effect_lvnotic_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{1024,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,120}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
            <key>mainhall_effect_lvnotic_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{1024,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,120}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
            <key>mainhall_effect_lvnotic_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{1024,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,120}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
            <key>mainhall_effect_lvnotic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,2},{1024,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{1024,118}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
            <key>mainhall_effect_lvnotic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{1024,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,120}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
            <key>mainhall_effect_lvnotic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1024,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,120}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
            <key>mainhall_effect_lvnotic_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{1024,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,120}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
            <key>mainhall_effect_lvnotic_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{1024,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,120}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
            <key>mainhall_effect_lvnotic_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{1024,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,120}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
            <key>mainhall_effect_lvnotic_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{1024,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,120}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
            <key>mainhall_effect_lvnotic_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,120}}</string>
                <key>sourceSize</key>
                <string>{1024,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadingAnim.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87b61a31567951854b2c8ab66228397f$</string>
            <key>textureFileName</key>
            <string>loadingAnim.png</string>
        </dict>
    </dict>
</plist>
